################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SSODemo/bin
/SSODemo/logs
/SSODemo/obj/Debug
*.user
*.suo
